@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BYekan';
  src: url('../public/fonts/BYekan-webfont.eot') format('eot'),
    url('../public/fonts/BYekan-webfont.woff') format('woff'),
    url('../public/fonts/BYekan-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  font-family: "BYekan", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  background-color: rgb(243, 244, 246, 1)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .ltr {
    direction: ltr
  }

  .font-body {
    font-family: "BYekan", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }

  .color {
    @apply text-[#F9A826]
  }

  .transition {
    @apply transition-colors duration-200 ease-in-out
  }

  .btn {
    @apply text-sm bg-[#F9A826] border-0 py-1 px-6 rounded transition
  }

  .rtl {
    direction: rtl
  }
}

.ce-paragraph {
  font-size: 14px
}

.ce-header {
  font-size: 16px;
  font-weight: bold
}

h1.ce-header {
  font-size: 23px;
  font-weight: bold
}

h2.ce-header {
  font-size: 22px;
  font-weight: bold
}

h3.ce-header {
  font-size: 21px;
  font-weight: bold
}

h4.ce-header {
  font-size: 20px;
  font-weight: bold
}

h5.ce-header {
  font-size: 19px;
  font-weight: bold
}

h6.ce-header {
  font-size: 18px;
  font-weight: bold
}